# Java + Spring Boot
target/
*.class
*.jar
*.war
*.ear

# Maven
/logs/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ / VSCode
.idea/
*.iml
.vscode/

# OS files
.DS_Store

# Environment / Secrets
src/main/resources/application.properties
src/main/resources/application-dev.properties
.env
